In [80]:
#Importing Libraries
import pandas as pd

In [81]:
#Loading the dataset
url = 'https://raw.githubusercontent.com/Mburu-Elvis/NairobiRentPrices/main/data/buy_rent_final.csv'
df = pd.read_csv(url,sep=",")

In [82]:
df.head()

   Unnamed: 0       City        Location  Bedrooms  Bathrooms  Parking   Price
0           0  Westlands   Spring Valley       4.0        NaN      1.0    3000
1           1  Westlands  Westlands Area       2.0        2.0      1.0  150000
2           2  Westlands       Riverside       3.0        3.0      1.0  200000
3           3    Nairobi      Upper Hill       1.0        1.0      1.0  100000
4           4  Westlands       Brookside       4.0        3.0      1.0  120000

In [83]:
#delete the unnamed column
df = df.drop('Unnamed: 0', axis=1)

In [84]:
df.head(3)

        City        Location  Bedrooms  Bathrooms  Parking   Price
0  Westlands   Spring Valley       4.0        NaN      1.0    3000
1  Westlands  Westlands Area       2.0        2.0      1.0  150000
2  Westlands       Riverside       3.0        3.0      1.0  200000

### Handling Nulls

In [85]:
# Count the number of null values in each column
null_count = df.isnull().sum()
null_count

City           0
Location       1
Bedrooms       5
Bathrooms    176
Parking       42
Price          4
dtype: int64

##### Bedrooms

In [86]:
# Display cells with NaN values in column 'Bedrooms'
null_beds = df[df['Bedrooms'].isnull()]
null_beds

         City    Location  Bedrooms  Bathrooms  Parking  Price
59    Nairobi   Westlands       NaN        NaN      NaN    NaN
60    Nairobi    Kilimani       NaN        NaN      NaN    NaN
82    Nairobi  Kileleshwa       NaN        NaN      NaN    NaN
644   Nairobi   Lavington       NaN        NaN      NaN    NaN
1464  Nairobi  Kileleshwa       NaN        1.0      1.0  60000

In [87]:
# Replace NaN in Bedrooms column with 0
df['Bedrooms'] = df['Bedrooms'].fillna(0)

In [88]:
df['Bedrooms'].isnull().sum()

0

In [89]:
df.isnull().sum()

City           0
Location       1
Bedrooms       0
Bathrooms    176
Parking       42
Price          4
dtype: int64

##### Bathrooms

In [90]:
# Display cells with NaN values in column 'Bathrooms'
null_baths = df[df['Bathrooms'].isnull()]
null_baths.head(5)

              City       Location  Bedrooms  Bathrooms  Parking  Price
0        Westlands  Spring Valley       4.0        NaN      1.0   3000
59         Nairobi      Westlands       0.0        NaN      NaN    NaN
60         Nairobi       Kilimani       0.0        NaN      NaN    NaN
82         Nairobi     Kileleshwa       0.0        NaN      NaN    NaN
105  Kiambu County          Ruaka       2.0        NaN      1.0  40000

In [91]:
# Replace NaN in Bathrooms column with 0
df['Bathrooms'] = df['Bathrooms'].fillna(0)

In [92]:
df['Bathrooms'].isnull().sum()

0

##### Parking

In [93]:
# Replace NaN in Parking column with 0
df['Parking'] = df['Parking'].fillna(0)

In [94]:
#Rechecking for nulls in dataframe
df.isnull().sum()

City         0
Location     1
Bedrooms     0
Bathrooms    0
Parking      0
Price        4
dtype: int64

### Handling the price column

In [95]:
# Display null cells in the price column
null_price= df[df['Price'].isnull()]
null_price

        City    Location  Bedrooms  Bathrooms  Parking Price
59   Nairobi   Westlands       0.0        0.0      0.0   NaN
60   Nairobi    Kilimani       0.0        0.0      0.0   NaN
82   Nairobi  Kileleshwa       0.0        0.0      0.0   NaN
644  Nairobi   Lavington       0.0        0.0      0.0   NaN

In [96]:
##Filling nulls
df['Price'] =df['Price'].fillna(0)

In [97]:
df.isnull().sum()

City         0
Location     1
Bedrooms     0
Bathrooms    0
Parking      0
Price        0
dtype: int64

The nulls relevant to the dataset have been handled

### Cleaning

In [98]:
display(df.dtypes)

City          object
Location      object
Bedrooms     float64
Bathrooms    float64
Parking      float64
Price         object
dtype: object

In [101]:
# Convert float dtypes to int
df['Bedrooms'] = df['Bedrooms'].astype(int)
df['Bathrooms'] =df['Bathrooms'].astype(int)
df['Parking'] =df['Parking'].astype(int)

In [102]:
display(df.dtypes)

City         object
Location     object
Bedrooms      int32
Bathrooms     int32
Parking       int32
Price        object
dtype: object

Float data types succesfully converted to integers

##### Handling the Price column

In [109]:
# Step 1: Clean the column (remove non-numeric characters)
df['Price'] = df['Price'].str.replace('[^0-9]', '', regex=True)

In [110]:

# Step 2: Fill the nulls
df['Price'] = df['Price'].fillna(0)

In [112]:
#Checking for the column data type
df['Price'].dtype

dtype('O')

In [122]:
# Resolving the IntCastingNaNError: Cannot convert non-finite values (NA or inf) to integer

# Get unique values in the Price column
unique_values = df['Price'].unique()
unique_values

array(['3000', '150000', '200000', '100000', '120000', '210000', '180000',
       '300000', '160000', '325000', '137000', '140000', '330000',
       '250000', '225000', '400000', '190000', '55000', '60000', '350000',
       '170000', '450000', '220000', '280000', '95000', '130000',
       '270000', '230000', 0, '3300', '35000', '2750', '110000', '145000',
       '85000', '33000', '50000', '75000', '90000', '289000', '40000',
       '135000', '125000', '80000', '16000', '290000', '70000', '12000',
       '4500', '320000', '28000', '650000', '115000', '65000', '240000',
       '440000', '78000', '165000', '185000', '105000', '175000', '23000',
       '15000', '260000', '340000', '375000', '247000', '25000', '6500',
       '38000', '164000', '6000', '324000', '89000', '370000', '27500',
       '245000', '42000', '45000', '195000', '297000', '639000', '5000',
       '119500', '305000', '10000', '30000', '331000', '215000', '8000',
       '82000', '7000', '321000', '551600', '13000', '56600', '', '27000',
       '68000', '570000', '337500', '267000', '9000', '550000', '380000',
       '164340', '22000', '14000', '435750', '235000', '20000', '265000',
       '563200', '18000', '98000', '108000', '83000', '17500', '47000',
       '117500', '12500', '155000', '64000', '390000', '445000', '72000',
       '17000', '112000', '275000', '205000', '7500', '293000', '87000',
       '88000', '440100', '189000', '225127', '500000', '244460',
       '117000', '181000', '119000', '252000', '354000', '371000',
       '660000', '359125', '54200', '511000', '32000', '54000', '67000',
       '11000', '292000', '310000', '460000', '335000', '630000', '54500',
       '56000', '126000', '79000', '248000', '48000', '460500', '430000',
       '270', '76000', '72500', '86000', '66000', '3500', '57500',
       '99000', '285130', '485000', '113000', '96000', '253000', '21000',
       '5500', '420000', '583000', '52500', '364000', '248115', '233000',
       '360000', '26000', '56500', '480000', '365000', '174000', '1700',
       '222000', '453000', '104000', '58000', '219000', '2500', '295000',
       '43500', '146000', '2400', '2000', '52000'], dtype=object)

In [130]:
#Step 2: Check for Non-finite values in the price column and convert
for value in df['Price']:
    if value == "NA" or value == "Inf":
        print(f"Skipping non-finite value: {value}")
    else:
        try:
            converted_value_result = int(value)
            print(converted_value_result)
        except (ValueError, TypeError):
            print(f"Could not convert value to int: {value}")

3000
150000
200000
100000
120000
210000
180000
300000
200000
160000
325000
137000
140000
330000
140000
250000
150000
225000
120000
300000
200000
150000
400000
190000
200000
55000
150000
60000
200000
60000
350000
170000
300000
120000
120000
140000
450000
220000
450000
350000
280000
150000
170000
95000
150000
350000
170000
130000
400000
270000
350000
220000
200000
150000
180000
250000
150000
250000
230000
0
0
220000
3300
95000
180000
180000
180000
180000
55000
60000
35000
60000
55000
2750
55000
250000
100000
110000
200000
145000
130000
85000
0
280000
150000
170000
33000
140000
250000
50000
180000
200000
75000
250000
85000
200000
150000
200000
100000
100000
180000
90000
110000
289000
140000
40000
250000
130000
160000
300000
75000
90000
135000
125000
180000
250000
230000
80000
280000
200000
180000
75000
75000
16000
150000
130000
290000
400000
110000
55000
160000
300000
160000
250000
200000
70000
135000
12000
4500
80000
160000
250000
170000
320000
150000
28000
85000
180000
100000
95000
280000
55000
140000
650000
130000
115000
160000
65000
190000
150000
65000
230000
130000
95000
180000
240000
90000
440000
110000
450000
78000
90000
100000
300000
100000
210000
280000
130000
95000
150000
35000
220000
250000
165000
230000
75000
110000
90000
110000
180000
170000
250000
320000
185000
60000
105000
200000
130000
160000
100000
50000
200000
160000
140000
150000
120000
300000
250000
130000
175000
160000
200000
350000
120000
50000
23000
160000
220000
200000
120000
15000
260000
120000
140000
180000
340000
230000
220000
60000
75000
230000
80000
180000
375000
70000
120000
230000
70000
250000
120000
180000
180000
100000
130000
75000
250000
65000
120000
247000
100000
25000
6500
170000
60000
200000
145000
170000
120000
220000
100000
38000
240000
230000
250000
140000
90000
160000
170000
140000
180000
70000
100000
200000
300000
164000
6000
250000
28000
170000
120000
324000
140000
200000
100000
55000
100000
130000
50000
85000
180000
95000
330000
190000
89000
370000
110000
150000
120000
65000
160000
180000
350000
75000
75000
25000
40000
150000
27500
245000
100000
350000
170000
40000
120000
100000
200000
280000
85000
150000
170000
140000
200000
60000
42000
160000
120000
95000
250000
225000
120000
80000
75000
140000
180000
45000
80000
120000
250000
85000
160000
130000
110000
140000
180000
195000
95000
180000
220000
100000
120000
110000
160000
35000
15000
250000
297000
16000
250000
200000
120000
100000
65000
65000
25000
130000
100000
50000
90000
250000
110000
85000
150000
400000
175000
75000
150000
639000
55000
75000
210000
150000
5000
135000
270000
150000
400000
230000
180000
140000
125000
95000
90000
180000
95000
33000
220000
12000
95000
119500
250000
125000
305000
65000
400000
200000
150000
250000
85000
70000
290000
10000
160000
250000
240000
75000
85000
180000
65000
10000
120000
95000
90000
4500
130000
85000
150000
110000
190000
50000
15000
120000
70000
35000
140000
135000
190000
175000
200000
130000
170000
30000
100000
200000
230000
100000
120000
165000
130000
220000
130000
250000
95000
150000
85000
70000
331000
170000
120000
120000
180000
45000
130000
65000
85000
120000
215000
30000
170000
180000
95000
145000
200000
160000
70000
35000
270000
23000
180000
120000
130000
100000
8000
300000
130000
90000
330000
110000
115000
110000
180000
220000
65000
150000
82000
120000
60000
80000
85000
100000
65000
55000
200000
85000
140000
150000
120000
7000
150000
55000
70000
180000
200000
110000
110000
150000
90000
160000
140000
150000
100000
350000
130000
250000
10000
140000
45000
300000
321000
135000
6000
551600
170000
45000
85000
200000
400000
100000
13000
85000
250000
130000
200000
90000
270000
55000
160000
150000
150000
400000
100000
270000
56600
130000
160000
135000
300000
150000
165000
250000
90000
250000
70000
150000
140000
180000
120000
5000
120000
60000
160000
65000
150000
150000
200000
200000
40000
33000
90000
70000
150000
120000
250000
140000
200000
150000
150000
220000
70000
150000
250000
100000
75000
150000
250000
180000
150000
170000
320000
240000
320000
150000
220000
100000
150000
105000
150000
65000
70000
15000
15000
220000
250000
150000
120000
230000
150000
75000
100000
85000
340000
150000
320000
220000
Could not convert value to int:
180000
27000
68000
130000
95000
570000
250000
85000
100000
180000
55000
280000
337500
190000
267000
95000
55000
9000
180000
220000
0
65000
140000
55000
135000
120000
270000
70000
80000
150000
550000
120000
260000
65000
250000
300000
160000
100000
200000
350000
200000
45000
120000
130000
150000
70000
130000
160000
110000
150000
150000
100000
65000
10000
180000
250000
130000
55000
120000
270000
75000
350000
130000
80000
90000
180000
380000
175000
200000
300000
75000
130000
70000
85000
70000
230000
165000
170000
300000
100000
300000
165000
200000
95000
200000
164340
90000
105000
90000
170000
35000
85000
200000
90000
200000
22000
125000
80000
230000
90000
14000
80000
110000
25000
200000
150000
110000
250000
150000
120000
160000
260000
150000
35000
220000
75000
200000
100000
300000
435750
65000
250000
235000
90000
95000
250000
20000
75000
90000
170000
100000
45000
200000
55000
90000
280000
265000
60000
65000
140000
250000
563200
35000
70000
170000
230000
75000
100000
150000
100000
220000
260000
65000
270000
350000
140000
150000
14000
120000
160000
220000
160000
190000
55000
18000
130000
130000
Could not convert value to int:
100000
190000
240000
270000
100000
220000
98000
220000
150000
90000
150000
330000
130000
160000
150000
108000
400000
220000
70000
150000
90000
83000
17500
170000
100000
250000
65000
47000
150000
200000
650000
130000
230000
140000
70000
25000
80000
250000
170000
150000
65000
250000
100000
85000
117500
300000
250000
35000
180000
12500
240000
140000
100000
85000
180000
120000
30000
200000
130000
290000
155000
110000
250000
130000
165000
130000
64000
110000
150000
100000
150000
300000
80000
320000
200000
40000
100000
300000
20000
9000
60000
250000
120000
45000
45000
250000
170000
380000
80000
200000
110000
230000
250000
350000
250000
160000
200000
130000
200000
200000
80000
110000
100000
185000
250000
170000
70000
390000
75000
65000
170000
75000
55000
85000
85000
100000
170000
75000
170000
130000
200000
120000
55000
180000
45000
70000
90000
9000
260000
85000
445000
120000
72000
200000
245000
100000
190000
90000
100000
150000
160000
200000
40000
140000
17000
200000
200000
150000
85000
240000
50000
23000
110000
200000
55000
100000
80000
250000
150000
110000
170000
65000
60000
100000
155000
220000
220000
145000
190000
75000
220000
150000
100000
160000
180000
190000
112000
170000
275000
280000
140000
130000
80000
45000
140000
200000
120000
35000
350000
200000
85000
85000
90000
Could not convert value to int:
130000
280000
150000
120000
130000
25000
50000
70000
50000
230000
220000
20000
35000
160000
75000
150000
85000
130000
205000
140000
90000
95000
25000
170000
300000
250000
135000
120000
160000
230000
280000
150000
300000
120000
150000
100000
160000
250000
180000
180000
280000
150000
65000
30000
100000
Could not convert value to int:
75000
145000
55000
330000
45000
75000
200000
100000
140000
160000
150000
Could not convert value to int:
90000
90000
25000
85000
270000
160000
125000
220000
7500
100000
300000
70000
85000
45000
200000
70000
140000
70000
293000
150000
10000
80000
85000
320000
250000
65000
150000
160000
190000
130000
230000
170000
38000
115000
150000
150000
75000
150000
50000
8000
87000
120000
170000
190000
170000
260000
95000
15000
95000
200000
160000
65000
90000
88000
150000
115000
30000
100000
80000
95000
180000
230000
90000
375000
240000
130000
90000
180000
125000
55000
115000
80000
75000
90000
70000
15000
300000
440100
130000
70000
160000
140000
16000
140000
80000
25000
90000
Could not convert value to int:
189000
130000
75000
225127
125000
45000
500000
60000
90000
300000
100000
200000
180000
150000
180000
98000
100000
140000
135000
25000
23000
120000
250000
95000
90000
250000
140000
200000
330000
Could not convert value to int:
230000
180000
180000
280000
150000
160000
230000
300000
90000
105000
120000
75000
130000
244460
160000
117000
130000
190000
180000
200000
100000
190000
110000
330000
230000
120000
17000
110000
120000
150000
250000
150000
80000
85000
150000
270000
140000
170000
260000
130000
170000
170000
200000
200000
3000
250000
181000
200000
260000
119000
120000
75000
100000
80000
125000
240000
120000
90000
110000
Could not convert value to int:
120000
15000
200000
120000
100000
70000
252000
85000
110000
70000
160000
300000
150000
150000
280000
95000
100000
130000
70000
220000
130000
85000
50000
150000
140000
100000
90000
120000
15000
100000
200000
110000
180000
220000
190000
120000
150000
120000
110000
180000
220000
140000
160000
9000
75000
100000
354000
150000
55000
200000
50000
140000
175000
125000
120000
65000
14000
200000
90000
150000
95000
5000
150000
220000
100000
200000
90000
10000
40000
371000
660000
65000
55000
350000
180000
200000
60000
130000
80000
359125
150000
120000
270000
110000
65000
60000
50000
110000
130000
65000
100000
250000
220000
30000
40000
160000
7000
20000
90000
105000
60000
170000
150000
75000
200000
210000
130000
54200
75000
260000
125000
350000
300000
130000
35000
165000
150000
250000
100000
130000
55000
85000
260000
220000
200000
130000
150000
110000
110000
90000
100000
200000
115000
120000
110000
120000
130000
65000
200000
240000
150000
110000
280000
280000
230000
200000
65000
150000
85000
130000
180000
150000
180000
80000
160000
175000
105000
190000
145000
250000
265000
Could not convert value to int:
95000
511000
95000
120000
10000
90000
32000
55000
150000
180000
130000
70000
135000
100000
4500
135000
200000
18000
250000
250000
64000
80000
250000
80000
230000
100000
98000
270000
14000
80000
120000
54000
230000
180000
65000
95000
250000
150000
140000
120000
35000
110000
150000
120000
20000
120000
140000
90000
145000
400000
100000
170000
120000
55000
145000
67000
100000
350000
75000
200000
250000
11000
130000
85000
140000
185000
250000
130000
80000
200000
160000
292000
140000
55000
240000
15000
130000
105000
120000
110000
60000
89000
75000
98000
80000
100000
100000
130000
65000
270000
85000
250000
310000
100000
90000
50000
65000
130000
140000
90000
230000
85000
300000
205000
280000
110000
80000
150000
120000
60000
160000
300000
120000
80000
90000
75000
220000
180000
140000
230000
80000
330000
150000
60000
170000
250000
140000
45000
110000
250000
180000
220000
35000
160000
70000
300000
250000
460000
80000
150000
330000
85000
170000
290000
100000
145000
75000
120000
120000
120000
65000
70000
400000
170000
150000
180000
120000
30000
25000
150000
150000
150000
220000
90000
80000
335000
180000
135000
275000
150000
190000
220000
100000
170000
170000
140000
240000
85000
230000
90000
170000
130000
180000
110000
230000
120000
140000
250000
220000
220000
140000
200000
170000
130000
130000
70000
185000
50000
120000
230000
170000
220000
80000
15000
140000
140000
180000
90000
140000
60000
120000
120000
105000
170000
180000
95000
70000
12000
80000
75000
630000
170000
250000
150000
95000
350000
200000
120000
110000
450000
45000
150000
160000
120000
120000
54500
65000
75000
75000
70000
220000
181000
250000
100000
140000
120000
220000
56000
250000
190000
135000
85000
180000
120000
Could not convert value to int:
100000
120000
30000
200000
215000
250000
150000
100000
100000
120000
22000
300000
50000
180000
126000
200000
78000
110000
110000
190000
79000
400000
190000
400000
100000
60000
140000
200000
110000
250000
300000
120000
12000
170000
75000
12000
100000
130000
125000
100000
75000
120000
350000
Could not convert value to int:
100000
75000
35000
75000
248000
300000
130000
48000
14000
120000
180000
270000
140000
150000
180000
70000
120000
70000
120000
280000
165000
190000
75000
85000
33000
150000
55000
130000
130000
95000
150000
120000
80000
90000
60000
100000
55000
70000
460500
120000
42000
95000
70000
230000
160000
95000
430000
65000
160000
80000
160000
30000
350000
130000
110000
180000
340000
240000
11000
160000
65000
330000
75000
160000
20000
120000
15000
220000
110000
200000
140000
100000
180000
110000
230000
95000
80000
65000
230000
220000
90000
250000
150000
85000
170000
160000
120000
100000
235000
80000
130000
40000
75000
130000
297000
220000
110000
110000
150000
90000
160000
120000
160000
400000
150000
120000
55000
180000
100000
220000
150000
350000
150000
100000
45000
150000
65000
140000
150000
110000
280000
150000
7000
370000
95000
150000
120000
95000
270
180000
76000
170000
90000
Could not convert value to int:
140000
25000
72500
120000
150000
86000
110000
250000
85000
110000
100000
85000
130000
150000
300000
60000
70000
200000
130000
66000
150000
150000
85000
80000
20000
220000
150000
200000
130000
85000
140000
100000
100000
13000
130000
140000
130000
250000
65000
300000
270000
12000
180000
280000
95000
10000
7500
250000
90000
100000
90000
185000
85000
230000
30000
70000
3500
140000
270000
150000
57500
230000
75000
85000
140000
350000
120000
60000
180000
300000
99000
100000
115000
240000
150000
50000
250000
300000
285130
120000
200000
250000
160000
230000
100000
250000
170000
25000
35000
150000
120000
325000
120000
200000
210000
75000
65000
90000
120000
320000
30000
180000
130000
150000
65000
130000
160000
85000
140000
485000
160000
280000
185000
350000
90000
60000
115000
10000
65000
250000
190000
145000
110000
75000
90000
22000
300000
70000
70000
65000
200000
100000
110000
110000
160000
140000
130000
113000
330000
70000
200000
110000
50000
90000
270000
200000
140000
200000
280000
200000
190000
300000
300000
38000
190000
200000
100000
70000
230000
48000
96000
400000
55000
70000
85000
75000
180000
90000
200000
130000
200000
75000
25000
150000
220000
150000
220000
253000
275000
270000
160000
25000
150000
220000
250000
55000
35000
140000
80000
55000
400000
90000
120000
200000
180000
180000
330000
250000
100000
85000
250000
100000
145000
120000
80000
110000
120000
150000
165000
135000
40000
150000
33000
15000
200000
371000
130000
140000
75000
70000
120000
100000
85000
140000
180000
50000
60000
240000
45000
310000
90000
170000
27000
170000
150000
20000
250000
160000
80000
25000
21000
220000
200000
140000
120000
150000
220000
Could not convert value to int:
150000
180000
180000
170000
150000
80000
60000
160000
120000
300000
40000
300000
250000
100000
110000
150000
200000
160000
65000
220000
350000
300000
70000
120000
250000
85000
60000
90000
70000
280000
170000
5500
250000
89000
180000
120000
75000
450000
170000
200000
120000
170000
35000
150000
200000
130000
15000
100000
140000
65000
145000
150000
150000
160000
115000
160000
210000
3500
130000
150000
75000
75000
185000
200000
85000
190000
110000
100000
130000
120000
300000
90000
65000
3000
170000
200000
25000
115000
100000
150000
170000
85000
65000
70000
120000
280000
95000
135000
120000
180000
190000
150000
150000
220000
140000
150000
130000
150000
15000
160000
70000
350000
150000
420000
70000
165000
100000
350000
88000
Could not convert value to int:
140000
200000
140000
135000
280000
180000
130000
47000
120000
110000
55000
40000
250000
270000
20000
290000
583000
95000
90000
120000
170000
85000
300000
200000
350000
230000
52500
75000
90000
45000
195000
300000
20000
28000
364000
80000
200000
95000
220000
320000
170000
248115
140000
233000
150000
155000
80000
160000
200000
100000
180000
75000
350000
120000
310000
330000
250000
180000
320000
360000
100000
160000
185000
320000
26000
120000
110000
140000
150000
50000
75000
Could not convert value to int:
140000
140000
150000
110000
150000
120000
115000
350000
150000
5000
120000
400000
200000
Could not convert value to int:
45000
200000
280000
56500
160000
75000
165000
95000
75000
200000
50000
110000
80000
280000
140000
140000
150000
250000
50000
300000
120000
75000
480000
160000
300000
65000
26000
50000
150000
85000
80000
35000
365000
174000
110000
150000
200000
12000
180000
90000
220000
95000
75000
160000
200000
60000
95000
85000
95000
170000
260000
140000
18000
90000
200000
200000
20000
22000
235000
90000
150000
40000
120000
170000
290000
75000
165000
300000
300000
70000
160000
140000
130000
210000
100000
70000
160000
170000
100000
95000
75000
140000
110000
300000
140000
45000
12000
230000
280000
80000
110000
380000
250000
180000
200000
80000
80000
325000
90000
120000
150000
160000
130000
250000
240000
280000
230000
120000
170000
120000
110000
120000
7000
150000
150000
75000
150000
180000
80000
150000
140000
38000
70000
70000
280000
150000
140000
120000
110000
100000
130000
45000
200000
1700
170000
90000
250000
300000
80000
150000
280000
290000
85000
40000
120000
222000
40000
100000
150000
90000
250000
270000
27000
60000
453000
170000
150000
170000
40000
150000
55000
195000
130000
150000
150000
400000
230000
150000
120000
80000
150000
125000
90000
180000
220000
150000
75000
300000
145000
300000
110000
50000
104000
190000
160000
120000
15000
230000
Could not convert value to int:
72000
120000
56600
65000
100000
240000
200000
160000
145000
140000
100000
85000
140000
85000
23000
58000
120000
35000
115000
120000
130000
110000
60000
130000
28000
95000
130000
100000
170000
250000
150000
110000
200000
219000
2500
350000
Could not convert value to int:
125000
100000
100000
170000
140000
135000
160000
40000
78000
140000
240000
95000
70000
90000
240000
65000
220000
120000
200000
120000
70000
80000
180000
55000
65000
110000
23000
295000
130000
250000
100000
250000
150000
260000
300000
300000
290000
55000
140000
140000
80000
64000
140000
120000
80000
60000
65000
170000
250000
135000
80000
170000
7500
110000
200000
12000
80000
90000
Could not convert value to int:
130000
80000
90000
100000
300000
120000
160000
32000
90000
220000
135000
90000
200000
79000
110000
120000
7000
130000
50000
120000
100000
75000
175000
280000
140000
120000
170000
75000
17000
250000
150000
260000
70000
130000
130000
Could not convert value to int:
90000
60000
300000
180000
180000
215000
180000
43500
22000
200000
33000
75000
150000
48000
45000
45000
260000
95000
80000
250000
110000
100000
20000
75000
75000
200000
130000
100000
85000
140000
20000
146000
200000
55000
65000
140000
100000
48000
140000
38000
3500
27000
55000
95000
55000
65000
50000
89000
28000
56000
105000
70000
320000
300000
100000
65000
200000
180000
95000
85000
135000
85000
65000
50000
140000
280000
130000
35000
150000
130000
160000
7000
220000
230000
220000
160000
240000
230000
150000
100000
80000
250000
280000
55000
130000
170000
220000
100000
70000
60000
40000
90000
80000
180000
55000
160000
180000
2400
200000
2000
120000
52500
90000
290000
170000
45000
75000
400000
130000
150000
200000
155000
165000
32000
13000
110000
160000
145000
38000
100000
110000
52000
7000
180000
90000
145000
230000
23000
160000
100000
100000
140000
18000
10000
250000
170000
150000
18000
45000
170000
7000
3000
88000
180000
70000
75000
4500
6000
35000
50000
120000
200000
265000
150000
180000
180000
220000
230000
17000
80000
220000

**Code Explanation** <br>
The code above hanldles the non-finite values in the price column by attempting to convert its elements into integers. It also includes logic to skip values that are non-finite (e.g., "NA" and "Inf") and to handle cases where conversion to an integer is not possible.

In [133]:
#Convert column data type from object to int
df['Price'] =df['Parking'].astype(int)

In [134]:
display(df.dtypes)

City         object
Location     object
Bedrooms      int32
Bathrooms     int32
Parking       int32
Price         int32
dtype: object

Data is clean! Ready for merging and EDA :-)

### Creating a csv file of the clean BuyRent Data

In [135]:
# Save the clean data to a new CSV file
df.to_csv('Cleaned_BuyRent.csv', index=False)